<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="home-page">

  	<h1>Welcome to the UNDERTALE Quiz!</h1>
  	
  	<form method="POST" action="/results">
  	<p>WHO IS MTT</p></p>
  		<input type="radio" name="q1" value="zombie">zombie<br>
  		<input type="radio" name="q1" value="human">human<br>
  		<input type="radio" name="q1" value="skeleton">skeleton<br>
  		<input type="radio" name="q1" value="robot">robot<br>
  	<p>why did frisk climb mount ebbot</p>
  		<input type="radio" name="q2" value="chasing a butterfly">chasing a butterfly<br>
  		<input type="radio" name="q2" value="hide and seek">hide and seek<br>
  		<input type="radio" name="q2" value="no reason">no reason<br>
  		<input type="radio" name="q2" value="suicide">suicide<br>
  	<p>sans or papyrus</p>
  		<input type="radio" name="q3" value="not sans">not sans<br>
  		<input type="radio" name="q3" value="sans">sans<br>
  		<input type="radio" name="q3" value="not papyrus">not papyrus<br>
  		<input type="radio" name="q3" value="papyrus">papyrus<br>
  	<p>HOI OIM TEMMIE</p>
  		<input type="radio" name="q4" value="HOI">HOI<br>
  		<input type="radio" name="q4" value="q4a2">HI<br>
  		<input type="radio" name="q4" value="q4a3">YO<br>
  		<input type="radio" name="q4" value="q4a4">HELLO<br>
  	<p>what is the final song of undertale</p>
  		<input type="radio" name="q5" value="q5a1">Death by glamour<br>
  		<input type="radio" name="q5" value="Last GoodBye">Last GoodBye<br>
  		<input type="radio" name="q5" value="q5a3">Finale<br>
  		<input type="radio" name="q5" value="q5a4">Home<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

